.form-container {
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.v-input:deep(.v-input__details) {
  padding-bottom: 3px !important;
}

.rounded-corner {
  border-radius: 8px 8px 0 0;
}

.login-link {
  min-width: 0px;
  padding: 0px;
  text-transform: none;
  font-weight: bold;
}

.login-link:hover {
  background-color: #e0f7fa;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.register-link {
  padding: 0;
  text-transform: none;
  font-weight: bold;
}

.register-link:hover {
  background-color: #e0f7fa;
  border-radius: 5px;
}
